:root {
 
  --heightTabelaAlertasRestricoes : 400px;
  --heightGraficoTotatizacao      : 260px;

/*
------------------------------
Variáveis do Tema Light
------------------------------
*/

  --background-color-ligth        :#ECEFF1;
  --chart-background-color-ligth  :white;
  --color-header-ligth            :#053f79;
  --color-text-ligth              :black;

  --background-pessoa-alerta-ligth    :#fff59d;
  --color-text-pessoa-alerta-ligth    :black;
  --background-pessoa-restricao-ligth :#ef9a9a;
  --color-text-pessoa-restricao-ligth :black;

  --color4-ligth        :#c8e6c9;
  --color3-ligth        :#86bd82;
  --color1-ligth        :#43a047;
  --color2-ligth        :#1c800a;

  --color-alert1-ligth  :#00C851;
  --color-alert2-ligth  :#ffbb33;
  --color-alert3-ligth  :#ff4444;


 
/*
------------------------------
Variáveis do Tema Dark
------------------------------
*/ 

  --background-color-dark         :black;
  --chart-background-color-dark   :#222222;
  --color-header-dark             :#bdbdbd;
  --color-text-dark               :#bdbdbd;  

  --background-pessoa-alerta-dark    :#fff59d;
  --color-text-pessoa-alerta-dark    :black;
  --background-pessoa-restricao-dark :#ef9a9a;
  --color-text-pessoa-restricao-dark :black;



  --color4-dark         :#c8e6c9;
  --color3-dark         :#86bd82;
  --color1-dark         :#43a047;
  --color2-dark         :#1c800a;

  --color-alert1-dark   :#00C851;
  --color-alert2-dark   :#ffbb33;
  --color-alert3-dark   :#ff4444;


  --bg-color-light                : #ECEFF1;
  --bg-color-dark                 : #26242E;
  --text-dark  :#bdbdbd;
}

.tema-ligth {
   width: 100%;
   height: 100vh;  
   background-color:var(--background-color-ligth);
}

.tema-dark {
  width: 100%;
  height: 100vh;  
  background-color:var(--background-color-dark);
}


.chart{
  border-top     : 1px solid #bdbdbd;
	border-bottom  : 1px solid #bdbdbd;
	border-right   : 1px solid #bdbdbd;
	border-left    : 1px solid #bdbdbd;
}


.tablediv {
  width: 100%;
  height: var(--heightTabelaAlertasRestricoes);
}

.chart-tema-light{
  box-shadow:0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
  background-color:var(--chart-background-color-ligth);
  color: var(--color-header-ligth);
}

.chart-tema-dark{
  box-shadow:0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
  background-color:var(--chart-background-color-dark);
  color: var(--color-header-dark);
}


.chart-head{
  font-size:20px;
  padding:8px;
  font-weight:600;
}

.chartdiv {
  width: 100%;
  height: var(--heightGraficoTotatizacao);
}

img {
  border-radius: 60%;
  width:60px;
}